<suite name="Test suit #1">
    <listeners>
        <listener class-name="listener.TestListener" />
    </listeners>
    <test name="tests">
        <parameter name="value" value="1" />
        <parameter name="isEven" value="false" />
        <classes>
            <class name="api.HttpRequestsTests"/>
            <class name="ui.TrianglePageTests" />
        </classes>
    </test>
</suite>
